[target.'cfg(all(target_arch = "arm", target_os = "none"))']
#TODO: Replace this with propper target.
runner = "probe-rs run --chip nrf52840_xxAA"
#runner = "arm-none-eabi-gdb -q -x openocd.gdb"

rustflags = [
    "-C",
    "link-arg=--nmagic",
    "-C", "link-arg=-Tdefmt.x",
     "-C", "link-arg=-Tlink.x",

]

[build]
#TODO replace this with stm32...
target = "thumbv7em-none-eabihf" # Cortex-M4F and Cortex-M7F (with FPU)

[alias]
rb = "run --bin"
rrb = "run --release --bin"
bbr = "build --release --bin"


[env]
DEFMT_LOG = "info"
# DEFMT_LOG = "trace"
