[target.'cfg(all(target_arch = "arm", target_os = "none"))']
#TODO: Replace this with propper target.

#runner = "arm-none-eabi-gdb -q -x openocd.gdb"
#runner = "cargo flash --chip nrf52840_xxAA"
runner = "probe-rs run --allow-erase-all --chip nrf52840_xxAA"

rustflags = [
    "-Zlocation-detail=none",
    "-Zfmt-debug=none",
    "-C",
    "link-arg=--nmagic",
    "-C", "link-arg=-Tdefmt.x",
     "-C", "link-arg=-Tlink.x",

]

[build]
#TODO replace this with stm32...
target = "thumbv7em-none-eabihf" # Cortex-M4F and Cortex-M7F (with FPU)

[alias]
rb = "run --bin"
rrb = "run --release --bin"
bbr = "build --release --bin"


[env]
#DEFMT_LOG = "error"
DEFMT_LOG = "trace"
